{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico'%}">


    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- -->

</head>

<body>
    {% csrf_token %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Prodvi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item border border-secondary-subtle rounded mx-1 my-1">
                        <a class="nav-link active" href="#">Notices</a>
                    </li>
                    <li class="nav-item  border border-danger-subtle rounded mx-1 my-1">
                        <a class="nav-link active text-danger" href="#">Memo</a>
                    </li>
                    <li class="nav-item dropdown border border-secondary-subtle rounded mx-1 my-1">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Forms
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Forms For Me</a></li>
                            <li><a class="dropdown-item" href="#">Filled Forms</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>

                {% if request.user.is_authenticated %}
                <div class="ms-auto">
                    <a href="/profile/">
                        <button class="nav-iten btn btn-success mx-1 my-1">
                            My Profile
                        </button>
                    </a>
                    <a href="/logout/">
                        <button class="nav-item btn btn-danger mx-1 my-1"> Logout </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Nav Bar Ends Here -->



    <!-- Profile Starts Here -->
    <div class="container mb-2">
        <h3 class="text-center">Personal Details</h3>

        {% if request.user.is_authenticated %}
        <div class="card personal-details-card">
            <div class="card-body">
                <h5 class="card-title">Larson Sequeira</h5>
                <p class="card-text">Here are your personal details. If any information is incorrect, Sorry!! Cant do
                    Anything.</p>

                <table class="table table-bordered mt-3">
                    <tbody>
                        <tr>
                            <th scope="row">Employee ID</th>
                            <td>{{ employee.empid }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Department</th>
                            <td>{{ employee.empdept }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Role</th>
                            <td>{{ employee.role }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ employee.user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date of Joining</th>
                            <td>{{ employee.doj }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ms-auto">
                <a href="">
                    <button class="btn btn-outline-secondary my-3 mx-2">Edit Profile Details</button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <div>
        My Appraisals:
    </div>

</body>

</html>